body{background-image:url(sss.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;background-color: rgba(23, 23, 23, 0.6);background-blend-mode: darken;}
#egonia1{ color: rgb(253, 251, 251);font-family: cursive;font-size: 59px;font-weight: 900;padding-top: 30px; border-color: black; border-style:double;}
#FRED{color: beige; font-size: 50px;font-weight: 900;font-family: Verdana, Geneva, Tahoma, sans-serif;margin-bottom: 30px;border: 5px;border-color: black;border-style: solid;}
h1{color: rgb(255, 255, 255); font-weight: bolder;font-size: xx-large;text-align: center;font-family: cursive;}
.FF{color: rgb(249, 247, 247);font-size: 40px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-align: center;}
/*computer programming*/
ol{color: aqua;font-size: xx-large;}
ol li{color: aqua;font-size: xx-large;list-style-type: circle;}
ul{color: aqua;font-size: xx-large;}
ul li{color: aqua;font-size: xx-large;list-style-type: square;}
table{color: black;border-style: solid;border-color: aqua;}
td,th{color: aqua;border-style: dashed;border-color: aqua;}
tr:nth-child(odd){background-color: gray;}
tr:hover{background-color:#ddd;}
img{justify-items: center;}