.row {display:flex;} 
  .column {padding: 100px;}
  h1{text-align: center;font-size: xx-large; color: beige;font-weight:bolder;}
  h2{text-align: center;font-size: xx-large;color: beige;font-weight: bolder;}
  h3{text-align: center;font-size: xx-large;color: beige;font-weight: bolder;}
  img {
    border: 10px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 5px;
    width: 150px;
  }
  body {
    background-image: url("eee.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(23, 23, 23, 0.6);
    background-blend-mode: darken;
  }

  
  img:hover {
    box-shadow:0 0 20px 20px rgba(255, 0, 221, 0.5);
  }
